@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1,h2,h3{
    font-family: 'Alegreya', serif;

}
